*{
    font-family: sans-serif;
}
body{
    background-image: url(../imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
    
    
}
h1{
    text-align: center;
    font-size: 60px;
    color:darkcyan;
}
ul li{
    text-align: center;
    display: inline;
    padding: 10px;
    border: 2px solid darkturquoise;
    border-radius: 0px 20px;
    background-color: azure;
}
a{
    color: darkblue;
    text-decoration: none;
    font-size: 20px;
}
h2{
    background-color:azure;
    padding: 10px;
    font-size: 30px;
    border: 2px solid darkturquoise;
    border-radius:40px 40px 0px 0px;
    text-align: center;
    color:darkslategray;
}
p{
    font-size: 20px;
    border: 2px solid darkturquoise;
    background-color:azure;
    padding: 15px;
    text-align: justify;
    border-radius: 40px 0px;
}
li:hover{
    background-color:darkgray;
}
a:hover{
    color:white;
}
a:active{
    color:aquamarine;
}
img{
    float:right;
    
   
}

